/* Add animation keyframes for zoom effect */
@keyframes toastZoomIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* crispy-toast.css */
.crispy-toast {
    position: fixed;
    padding: 10px 20px;
    border-radius: 0px;
    color: white;
    font-weight: bold;
    z-index: 9999;
    opacity: 1; /* Start with 0 opacity */
    animation: toastZoomIn 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    font-family: inherit;
    font-size: small;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .crispy-toast.success {
    background-color: #228b22; /* Green */
  }
  
  .crispy-toast.info {
    background-color: #02b9b0; /* Blue */
  }
  
  .crispy-toast.warning {
    background-color: #eb8d00; /* Orange */
  }
  
  .crispy-toast.error {
    background-color: #d40e00; /* Red */
  }
  
  .crispy-toast.top-right {
    top: 20px;
    right: 20px;
  }

  .crispy-toast.top-left{
    top: 20px;
    left: 20px;
  }

  .crispy-toast.bottom-right{
    bottom: 20px;
    right: 20px;
  }

  .crispy-toast.bottom-left{
    bottom: 20px;
    left: 20px;
  }
  
  /* Add more position styles as needed */
  